<nav>
    <!-- Нафигационное меню -->
    <a href="{% url 'tasks:index' %}">Приложение tasks</a>
     <br>
    <a href="{% url 'quality_control:index' %}">Приложение quality_control</a>
    <!-- Другие ссылки -->
</nav>