{% extends 'base/base.html' %}

{% block content %}
    <h1>Список отчетов об ошибках</h1>
    <ul>
        {% for bug in bug_list %}
            <li><a href="{% url 'quality_control:bug_detail' bug.id %}">{{ bug.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}