{% extends 'base/base.html' %}

{% block content %}
    <h1>Страница приложения quality_control</h1>
    <a href="{% url 'quality_control:bug_list' %}">Cписок всех багов</a>
    <p><a href="{% url 'quality_control:feature_list' %}">Запросы на улучшение</a></p>
{% endblock %}